body {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

h1, h2, h5 {
    text-align: center;
    margin: 0;
}

header, footer {
    color: #494949;
    padding: 20px;
    background-color: #a2a2a2;
}

footer {
    font-size: 75%;
}

.container {
    background-color: #c2c2c2;
}

.row {
    /* dichiaro questo contenitore come "relative" per poter utilizzare la  */
    /* proprietà position absolute con la classe .overlay*/
    position: relative;
    /* margin: 10px 0 10px 0; */
    max-width: 100%;
    width: 100vw;
    height: 100vh;
}

.city_name {
    color: white;
    font-family: Verdana;
    text-shadow: 6px 4px 1px black;
    font-size: 180%;
    position: relative;
    /* -------------------versione con CALC() ------------------- */
    /* allineo verticalmente il testo */
    /* sposto il titolo in base alla SUA posizione */
    /* la distanza di posizionamento verticale, la calcolo sfruttando la funzione "calc" */
    /* varierà al variare della viewport height */
    /* nota: 52px è la height dell'elemento testo da centrare */
    top: calc((100% - 52px) / 2);
    /* ----------------------------------------------------------- */
    /* */
    /* ------------------- versione con TRANSLATE ---------------- */
    /* posiziono l'elemento al centro del contenitore, */
    /* poi lo traslo, verso l'alto e verso sinistra, */
    /* con 2 offset set pari a meta' delle sue dimensioni */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* ---------------------------------------------------------- */
}

.city_img1 {
    background-image: url("images/roma2048x1280.jpg");
    /* indirizzo la visualizzazione sulla parte centrale dell'immagine */
    background-position: center;
    /* uso tutta la dimensione dell'immagine per riempiere il mio contenitore */
    background-size: cover;
    /* fisso un margine per separare l'immagine da quella precedente */
    border-bottom: solid #a2a2a2 10px;
}

.city_img2 {
    background-image: url("images/copenaghen2000x1333.jpg");
    background-position: center;
    background-size: cover;
    /* fisso un margine per separare l'immagine da quella precedente */
    border-bottom: solid #a2a2a2 10px;
}

.city_img3 {
    background-image: url("images/tokyo2000x1335.jpg");
    background-position: center;
    background-size: cover;
}

.overlay {
    /* applico la trasparenza dall'angolo in alto a sinistra */
    /* del contenitore padre (.row) per tutta la dimensione del contenitore stesso */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4)
}